<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SCSaleOpsPP" connectionString="Data Source=BSHELDON-EB\SQLEXPRESS;Initial Catalog=SCSaleOpsPP;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="StartCSE.Properties.Settings.SCSaleOpsPPConnectionString"
        connectionString="Data Source=BSHELDON-EB\SQLEXPRESS;Initial Catalog=SCSaleOpsPP;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="StartCSE.Properties.Settings.CommSalesPricingPlatformConnectionString"
        connectionString="Data Source=LAS5SDB09;Initial Catalog=CommSalesPricingPlatform;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
